body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.report {
    width: 200px;
    height: 200px;
    float: left;
    padding: 10px;
    border: solid 1px black;
    margin-right: 15px;
    position: relative;
}

.report .reportVersion 
{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.report .reportName 
{
    font-size: 150%;
    font-weight: bold;
}

.report .reportUpdated 
{
    font-size: 80%;
}

.reportWrapper  
{
    position: relative;
}

.reportWrapper .reportNavigation 
{
    width:250px;
    position: absolute;
    border-right: solid 1px black;
    }
    
.reportWrapper .reportContents 
{
    margin-left: 255px;
    height: 100%
}
